data/correspondance.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--<?xml-stylesheet type="text/xsl" href="../../diple/modules/xrem/rng_html.xsl"?>-->
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://www.w3.org/1999/xhtml"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
  ns="http://www.tei-c.org/ns/1.0"
  xml:lang="fr">
  <!-- TODO
    *[CD] écrire une doc spéciale pour add type="deciphering"
  -->
  
  <a:documentation>
    <h1 id="correspondance.rng">La correspondance du chancelier Antoine Du Bourg, schéma de balisage</h1>
    <ul class="auteurs">
      <li>[CD] Camille Desenclos (École nationale des chartes) : conception et maintenance</li>
    </ul>
    <p>Ce schéma spécifie les particularités d'un corpus TEI des éditions électroniques de l'École des chartes (ELEC) : <i>la correspondance du chancelier Antoine du Bourg</i>.
      Il importe plusieurs autres schémas partagés par d'autres corpus :
    </p>
    <ul>
      <li><a href="#acte.rng">acte.rng</a> — Les aspects requis pour tout acte ELEC.</li>
      <li><a href="#texte.rng">texte.rng</a> — Des modèles de contenus réutilisables pour des corpus autres que des chartes.</li>
      <li><a href="#teiHeader.rng">teiHeader.rng</a> — Entête fixée de contenu pour tout fichier TEI.</li>
    </ul>
    <p>La particularité d'un corpus de correspondances concerne généralement :</p>
    <ul>
      <li><a href="#cartouche">Analyse diplomatique</a> — La définition des métadonnées requises dans le cartouche d'entête: dates, titre, sommaire, tableau de la tradition.</li>
      <li><a href="#tenor">Corps de la dépêche</a> — La finesse et le type de balisage de la dépêche (parties du discours diplomatique, paléographie...)</li>
      <li><a href="#index">Index</a> — L'index ou glossaire contenant l'identification de noms de lieux ou de personnes mentionnés dans le corpus.</li>
    </ul>
  </a:documentation>
  
  <h2>Structure générale d’une dépêche</h2>
  <rng:define name="acte" combine="choice">
    <rng:element name="text">
      <a:documentation>
        <p>Chaque dépêche éditée doit être constituée d'un &lt;front&gt; contenant les métadonnées et d'un &lt;body&gt; contenant la transcription. En cas d'annotation, un élément &lt;back&gt; peut être inséré pour contenir les notes. Toute dépêche doit obligatoirement être identifiée (@xml:id) et numérotée (@n).</p>
        <dl>
          <dt>@xml:id</dt>
          <dd>L'identifiant aura été inscrit manuellement ou avec un processus supervisé, il est pensé pour être au plus proche de la numérotation du corpus, afin que les URIs soient à la fois courtes et signifiantes.</dd>
          <dt>@n</dt>
          <dd>Le numéro de la dépêche pour affichage. Ce numéro d'ordre est un ajout de notre part, les dépêches étant ainsi classées de manière chronologique. Il permet de distinguer et faire plus rapidement référence aux dépêches. Il est conservé dans un attribut obligatoire, afin d'assurer une désignation courte des items.</dd>
        </dl>
      </a:documentation>
      <rng:attribute name="xml:id"/>
      <rng:attribute name="n"/>
      <rng:ref name="corresp.front"/>
      <rng:element name="body">
        <rng:ref name="transcription"/>
      </rng:element>
      <rng:optional>
        <rng:ref name="back"/>
      </rng:optional>
    </rng:element>
  </rng:define>
  
  <h2 id="cartouche">Analyse diplomatique</h2>
  <rng:define name="corresp.front">
    <rng:element name="front">
      <a:documentation>
        <p>L'édition de la correspondance du chancelier Antoine du Bourg est une édition contemporaine, aussi contient-elle toutes les informations attendues. Chaque élément, excepté &lt;index&gt; (indexation thématique), est obligatoire, chacun constituant un point d'accès différent à la dépêche concernée (accès temporel, thématique ou archivistique).
          <ul>
            <li>Numéro d'ordre: déjà inséré en attribut dans l'élément &lt;text&gt;</li>
            <li>Titre: //front/head.</li>
            <li>Date: //front/docDate (date de temps: //docDate/date; date de lieu: //docDate/placeName).</li>
            <li>Thèmes abordés à partir d'une liste préallablement établie au sein d'un thésaurus: //front/index.</li>
            <li>Analyse: //front/argument.</li>
            <li>Tableau de la tradition: //front/div[@type='tradition'].</li>
          </ul>
        </p>
      </a:documentation>
      <rng:ref name="head"/>
      <rng:ref name="acte.docDate"/>
      <rng:ref name="corresp.argument"/>
      <rng:zeroOrMore>
        <rng:element name="index">
          <a:documentation>L'élément index n'est pas obligatoire mais fortement recommandé: il permet une indexation thématique, particulièrement utile pour des corpus constitué de centaines d'items.</a:documentation>
          <rng:oneOrMore>
            <rng:element name="term">
              <rng:attribute name="key"/>
              <a:documentation>L'attribut @key reprend les valeurs déjà définies dans le thésaurus.</a:documentation>
              <!-- voir pour dresser ici la liste des valeurs du thésaurus -->
              <rng:text/>
              <!--<rng:empty/>-->
            </rng:element>
          </rng:oneOrMore>
        </rng:element>
      </rng:zeroOrMore>
      <rng:ref name="tradition"/>
    </rng:element>
  </rng:define>
  
  <rng:define name="corresp.argument">
    <rng:element name="argument">
      <a:documentation>Sommaire du texte structuré.</a:documentation>
      <rng:oneOrMore>
        <rng:element name="p">
          <rng:optional>
            <rng:attribute name="n"/>
          </rng:optional>
          <rng:optional>
            <rng:attribute name="corresp">
              <a:documentation>L'attribut @corresp permet de relier directement chaque paragraphe du sommaire au paragraphe correspondant dans le texte de la dépêche, permettant ainsi un accès plus facile au texte.</a:documentation>
            </rng:attribute>
          </rng:optional>
          <rng:text/>
          <rng:ref name="p.content"/>
        </rng:element>
      </rng:oneOrMore>
    </rng:element>
  </rng:define>
  
  <h2 id="tenor">Corps de la dépêche</h2>
  <a:documentation>
    <p>Le texte d'une dépêche suit une structure diplomatique à la fois simple et flexible: apostrophe, un ou plusieurs paragraphes de texte (corps du texte), formules finales de politesse et courtoisie, mention de la date, signature(s), à quoi il faut ajouter les mentions hors teneur telles que les adresses situées au dos du dernier feuillet. Sans s'attarder sur l'analyse diplomatique de ces formules, il convient de les distinguer pour des raisons d'affichage (distinction de l'apostrophe via un alinéa ou mise en petites capitales des signatures par exemple).</p>
    <p>Les abbréviations sont développées sans marqueur particulier. Seules les abbréviations très fréquentes (ex: aud.) ou ne pouvant être résolues ne sont pas développées. Quelle que soit la situation, ces derniers ne font pas l'objet d'un balisage spécifique, l'utilisation de l'élément &lt;abbr&gt; n'est donc pas recommandée ici.</p>
  </a:documentation>
  <rng:define name="transcription">
    <rng:element name="div">
      <a:documentation>Texte de la transcription d'une dépêche.</a:documentation>
      <rng:attribute name="type">
        <rng:value>transcription</rng:value>
      </rng:attribute>
      <rng:zeroOrMore>
        <!-- VJ: l'odre de ces différents pattern n'importe pas ?
          définir plus rigoureusement (contraindre) l'ordre des parties du discours (opener ... -> closer) -->
        <rng:choice>
          <rng:ref name="corresp.opener"/>
          <rng:ref name="p"/>
          <rng:ref name="table"/>
          <rng:element name="postscript">
            <a:documentation>Peut se trouver avant ou après l'élément &lt;closer&gt;. Certains post-scriptum revêtant la même forme que la lettre au sein de laquelle ils sont insérés, il est possible de les encoder à l'aide des mêmes éléments diplomatiques à savoir &lt;opener&gt; et &lt;closer&gt;.</a:documentation>
            <rng:optional>
              <rng:attribute name="desc"/>
            </rng:optional>
            <rng:zeroOrMore>
              <rng:ref name="corresp.opener"/>
            </rng:zeroOrMore>
            <rng:oneOrMore>
              <rng:ref name="p"/>
            </rng:oneOrMore>
            <rng:zeroOrMore>
              <rng:ref name="corresp.closer"/>
            </rng:zeroOrMore>
          </rng:element>
          <rng:ref name="corresp.closer"/>
          <rng:ref name="nota"/>
        </rng:choice>
      </rng:zeroOrMore>
    </rng:element>
  </rng:define>
  
  <rng:define name="corresp.opener">
    <rng:element name="opener">
      <a:documentation>Contient les formules d'ouverture, soit dans les cas des correspondances l'apostrophe ('Sire', 'Monsieur mon cousin') à insérer dans l'élément &lt;salute&gt;.</a:documentation>
      <rng:zeroOrMore>
        <rng:ref name="salute"/>
      </rng:zeroOrMore>
    </rng:element>
  </rng:define>
  
  <rng:define name="corresp.closer">
    <rng:element name="closer">
      <a:documentation>
        <p>Contient les formules de fermeture d'une lettre, soit la mention de la date(&lt;dateline&gt;), la formule de courtoisie (&lt;salute&gt;) ainsi que les signatures (&lt;signed&gt;).</p>
        <a:example>
          <closer>
            <salute>Priant Dieu, Mons<hi rend="sup">r</hi> le Chancellier, qu’il vous ait en sa garde.</salute>
            <dateline>Escript à Vallence le dernier jour d’aoust <hi rend="sc">m v<hi rend="sup">c</hi> xxxvi</hi>.</dateline>
            <signed>Françoys.</signed>
            <signed>Bochetel</signed>
          </closer>
        </a:example>
        <!-- VJ : je ne comprends pas cette répétition de l'élément closer : n'est-il pas plus pertinent de distinguer
          les mentions autographes au sein d'un élément répétable (lequel ?) lui-même contenu dans le closer ? -->
        <p>L'élément &lt;closer&gt; peut être utilisé plusieurs fois afin de distinguer les mentions autographes.</p>
        <a:example>
          <closer>
            <salute>Et sur ce, je prie Dieu vous donner, Mons<hi rend="sup">r</hi>, ce que plus desirez.</salute>
            <dateline>De Nice, le VII<hi rend="sup">e</hi> juing.</dateline>
          </closer>
          <closer type="autogr">
            <salute>Vostre antyerement bon amy </salute>
            <signed>Montmorency</signed>
          </closer>
        </a:example>
      </a:documentation>
      <rng:optional>
        <rng:attribute name="type">
          <rng:value>autogr</rng:value>
        </rng:attribute>
      </rng:optional>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="salute"/>
          <rng:element name="dateline">
            <a:documentation>Mention finale de la date.</a:documentation>
            <rng:choice>
              <rng:ref name="p.content"/>
              <rng:text/>
            </rng:choice>
          </rng:element>
          <rng:element name="signed">
            <a:documentation>Le sens de l'élément &lt;signed&gt; a été restreint par rapport à la TEI pour mieux s'adapter aux spécificités des correspondances. Il désigne les signatures stricto sensu, permettant ainsi la transformation automatique de celles-ci en petites capitales lors de l'affichage.</a:documentation>
            <rng:choice>
              <rng:ref name="p.content"/>
              <rng:zeroOrMore>
                <rng:ref name="persName"/>
              </rng:zeroOrMore>
              <rng:text/>
            </rng:choice>
          </rng:element>
        </rng:choice>
      </rng:zeroOrMore>
    </rng:element>
  </rng:define>
  
  <rng:define name="salute">
    <rng:element name="salute">
      <a:documentation>Inséré dans &lt;opener&gt;, il sert à encoder l'apostrophe et dans le &lt;closer&gt; les formules de politesse ou de courtoisie.</a:documentation>
      <rng:choice>
        <rng:ref name="p.content"/>
        <rng:text/>
      </rng:choice>
    </rng:element>
  </rng:define>
  
  <rng:define name="nota">
    <rng:element name="nota">
      <a:documentation>
        <p>Contient les mentions hors teneur, marginales ou portées au dos du dernier feuillet soit l'adresse ou diverses mentions ajoutées lors de la réception de la dépêche (nom de l'expéditeur, date de réception, sujet).</p>
        <p>Leurs places et types peuvent être renseignés de manière obligatoirement normalisée afin de pouvoir dresser plus facilement des typologies, ces informations peuvent ne pas apparaître au sein de l'édition. La description des mentions hors teneur étant souvent faite en texte libre, celle-ci doit être inséré directement dans un élément @desc.</p>
        <a:example>
          <nota type="adresse" desc="adresse au dos">A Monsieur, Monsieur le chancelier.</nota>
        </a:example>
      </a:documentation>
      <rng:optional>
        <rng:attribute name="place"/>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="type">
          <rng:choice>
            <rng:value>adresse</rng:value>
            <rng:value>reception</rng:value>
            <rng:value>note</rng:value>
          </rng:choice>
        </rng:attribute>
      </rng:optional>
      <rng:optional>
        <rng:attribute name="desc">
          <a:documentation>Description d'une mention hors teneur de manière plus libre qu'au travers des attributs @place et @type.</a:documentation>
        </rng:attribute>
      </rng:optional>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="p.content"/>
          <rng:text/>
        </rng:choice>
      </rng:zeroOrMore>
    </rng:element>
  </rng:define>
  
  <a:documentation>
    <h2 id="index">Indexation et glossaire</h2>
    <p>Afin d'alléger l'apparat critique, il est préférable de limiter les notes aux simples notes de situation et de constituer à l'aide des notes classiques d'identification des index-glossaires. Chaque nom (à chaque occurence ou à la première occurence de chaque lettre) pouvant alors être immédiatement identifié via l'index-glossaire sans avoir à répéter la note. Cet index se trouve dans l'élément &lt;back&gt; final, commun à tout le corpus et est subdivisé en deux index: noms de personne (&lt;listPerson&gt;) et noms de lieux (&lt;listPlace&gt;).</p>
    <p>Chaque élément (&lt;person&gt; ou &lt;place&gt; doit contenir un @xml:id pour pouvoir être appelé à l'occurence correspondante (ex: <a:example>aupres de mon cousin le <rs type="person" ref="#Montmorency">grant maistre</rs></a:example>). A l'inverse, un système de référence depuis l'index à l'occurence peut être mis en place; s'il est beaucoup plus complexe, il peut être mis en place lors de l'encodage ou dans un second temps.
    <!-- VJ : pourquoi ce système serait-il plus complexe ; une XSL peut aller pointer toutes les occurences d'appel d'une entrée d'index, non ? --></p>
    <!-- [CD] indexation à mentionner ici, voir comment s'organiserait le système de liens de l'index à l'occurence @corresp? -->
    <h3>Glossaire</h3>
    <h4>Noms de personnes: &lt;listPerson&gt;</h4>
    <p>Deux choix peuvent être faits pour les index de noms: 
      <ul>
        <li>un index simple, reprennant la forme des notes d'identification:</li></ul></p>
    <a:example>
      <person xml:id="Poyet">
        <persName>Guillaume Poyet</persName>
        <birth>v. 1473</birth>
        <death>1548</death>
        <event><p>président au parlement de Paris en 1535, fait chancelier de France le 12 novembre 1538.</p></event>
      </person>
    </a:example>
    <p><ul><li>un index structuré, normalisant les noms pour en faire de véritables entrées d'index mais à l'encodage et transformation complexes (l'entrée d'index ne faisant parfois pas au nom de famille mais au titre). Il n'est pas recommandé dans les cas d'index lié intrinsèquement à un corpus, mais uniquement dans ceux de glossaires pouvant donner lieu à bases prosopographiques et constituant donc une entrée presque autonome du texte.</li></ul></p>
    <a:example>
      <person xml:id="Poyet">
        <persName>
          <surname>Poyet</surname>
          <forename>Guillaume</forename>
        </persName>
        <birth>v. 1473</birth>
        <death>1548</death>
        <state><p>Président au parlement de Paris en 1535</p>
          <p>chancelier de France depuis le 12 novembre 1538.</p>
        </state>
      </person>
    </a:example>
    <h4>Noms de lieux: &lt;listPlace&gt;</h4>
    <p>Si le degré de précision est laissé à la discrétion de l'éditeur (l'utilisation de &lt;country&gt; n'est cependant conseillé que pour les villes étrangères), le modèle d'encodage reste le même. L'utilisation de &lt;district&gt; avec une liste de valeur semi-close pour l'attribut @type permet de s'adapter aux différentes unités géographiques nationales.</p>
    <a:example>
      <place xml:id="SVallier">
        <placeName>Saint-Vallier</placeName>
        <location>
          <country>France</country>
          <district type="departement">Drôme</district>
          <district type="arrondissement">Valence</district>
          <district type="canton">ch.-l. de cant.</district>
        </location>
      </place>
    </a:example>
  </a:documentation>
  
  
  <a:documentation>
    <h1 id="acte.rng">Un acte diplomatique en TEI</h1>
      <ul class="auteurs">
        <li>[OGJ] Olivier Guyotjeannin (École nationale des chartes) direction scientifique</li>
        <li>[OC] Olivier Canteaut (École nationale des chartes) direction éditoriale</li>
        <li>[VJ] <a onmouseover="this.href='mailto'+'\x3A'+'vincent.jolivet'+'\x40'+'enc.sorbonne.fr'">Vincent Jolivet</a>  (École nationale des chartes) maintenance</li>
        <li>[FG] <a onmouseover="this.href='mailto'+'\x3A'+'frederic.glorieux'+'\x40'+'enc.sorbonne.fr'">Frédéric Glorieux</a> (École nationale des chartes)</li>
        <li>[CD] Camille Desenclos (École nationale des chartes) noms propres, apparat critique, parties du discours</li>
        <li>[JC] Joana Casenave (École nationale des chartes) parties du discours</li>
        <li>[RD] Richard Delaplace (Langues'O) tableau de la tradition (témoins, &lt;witness&gt;)</li>
        <li>[CH] Clément Hurel (École nationale des chartes) contribution technique</li>
      </ul>
    <p>
  Ce schéma est conçu comme une bibliothèque de composants pour simplifier la définition
  d'un projet d'édition d'actes en TEI. Il ne sert à rien seul, il vaut importé par un autre
  schéma. Chaque projet doit pouvoir éviter de redéfinir les mêmes éléments, afin qu'une même chose
  soit nommée de la même manière (avec les mêmes balises). La tradition de l'édition critique accepte
  des variations nombreuses, avec cependant des structures communes qu'il vaut la peine de spécifier 
  avec précision, cette définition facilitant l'exploitation plus large des corpus par leur normalisation.
    </p>
  <!--  
    <ul>
      <li><i>acte.front</i>, un cartouche d'entête avec différentes métadonnées obligatoires ou optionnelles (titre, date, analyse...)</li>
      <li><i>acte.body</i>, un corps de texte (transcription, traduction...)</li>
      <li><i>acte.back</i>, un pied ne constituant ni le texte, ni les métadonnées (notes, reparques, commentaires...)</li>
    </ul>
  -->
  
    <h2>Structure générale d'un recueil d'actes</h2>
    
  </a:documentation>
  <start xmlns="http://relaxng.org/ns/structure/1.0" combine="choice">
    <a:documentation xmlns="http://www.w3.org/1999/xhtml">La structure générale d'un recueil d'actes comportera obligatoire un avant-texte avec titre et résumé (&lt;head&gt;, &lt;argument&gt;) afin d'assurer la génération d'un site web. L'élément racine portera en attribut un identifiant de fichier, unique pour l'éditeur.</a:documentation>
    <element name="TEI">
      <attribute name="xml:id"/>
      <ref name="teiHeader"/>
      <element name="text">
        <ref name="front"/>
        <ref name="acte.group"/>
        <optional>
          <ref name="back"/>
        </optional>
      </element>
    </element>
  </start>

  <a:example>
<TEI xmlns="http://relaxng.org/ns/structure/1.0">
  <teiHeader>...</teiHeader>
  <text>
    <front>
      <head>Cartulaire ...</head>
      <argument>
        <p>Petit texte pour page d'accueil</p>
      </argument>
    </front>
    <group>
      <head>titre court</head>
      <text>acte 1</text>
      <text>acte 2</text>
      <group>
        <head>Possibilité de sous section</head>
        <text>...</text>
      </group>
    </group>
    <back>Index et autres tables</back>
  </text>
</TEI>
  </a:example>
    
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="acte.group">
    <element name="group">
      <a:documentation xmlns="http://www.w3.org/1999/xhtml">
        <p>
          Une collection d'actes, par exemple un cartulaire, est considéré comme un groupe &lt;group&gt;
          de textes &lt;text&gt;. Les actes sont souvent groupés en série linéaire,
          il arrive cependant que des éditions (imprimées ou manuscrites)
          définissent une organisation hiérarchique de la collection. En ce cas ces sections peuvent
          être des groupes titrés &lt;head&gt;, titres conçus pour pouvoir être utilisés dans une table des matières.
        </p>
      </a:documentation>
      <optional>
        <attribute name="type">
          <choice>
            <value>tome</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="n"/>
      </optional>
      <optional>
        <attribute name="xml:id"/>
      </optional>
      <optional>
        <ref name="pb"/>
      </optional>
      <optional>
        <ref name="head"/>
      </optional>
      <optional>
        <ref name="argument"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="acte"/>
          <ref name="acte.group"/>
          <ref name="pb"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>

  <a:documentation>
    <h2>Notice d'acte</h2>
    <p>
      Par notice d'acte on entendra le cartouche d'entête établi par l'éditeur.
      L'information de ces nombreux champs est
      inégalement disponible selon la provenance du texte électronique
      (numérisation d'édition imprimée, base de données, édition sur l'original...).
      Il est par contre essentiel de choisir les mêmes balises pour la même information, afin de simplifier
      le traitement de différentes lots (exemple : rangement par date, table des actes, classement par type…).
      On distinguera deux groupes d'informations : ce qui concerne l'acte tel qu'il a eu lieu (analyse diplomatique),
      et ce qui concerne les témoins écrits de cet acte (codicologie). 
    </p>
    <p>
      Quant à l'analyse diplomatique, l'attention a d'abord porté sur les consignes d'encodage des dates.
      L'indication normalisée d'une langue est généralement portée par la transcription (quand il y en a une).
      Un vocabulaire qualifiant la nature d'un acte est en cours d'élaboration sur les cartulaires franciliens. 
      Pour tout acte, l'indication d'un lieu (avec identifiant INSEE), serait largement
      souhaitée, mais l'effort n'est pas encore planifié.
      La définition de types d'action juridique est souhaitée, mais pose encore trop de problèmes entre historiens 
      pour qu'une liste soit imposée. 
    </p>
  </a:documentation>
  
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="acte.no">
    <element name="titlePart">
      <a:documentation xmlns="http://www.w3.org/1999/xhtml">Numéro de l'acte. Peut être sous la forme d'un nombre ou d'un nom de folio.
      Contient parfois des notes. Peut être répété.
<!--      
      <blockquote>&lt;<a href="http://dublincore.org/documents/dcmi-terms/#terms-title">dc:title</a>&gt;, titre d'un acte, contiendra
      aussi le titre du cartulaire dont il est extrait (voir teiHeader).</blockquote>
-->
      </a:documentation>
      <attribute name="type">
        <value>num</value>
      </attribute>
      <optional>
        <attribute name="n"/>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="ref.note"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
 

  <a:documentation>
    <h2>Balisage des parties du discours diplomatique</h2>    
  </a:documentation>  
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="diplomatique">
    <a:documentation xmlns="http://www.w3.org/1999/xhtml">
      <p>Identification des parties du discours.</p>
    </a:documentation>
    <oneOrMore>
      <choice>
        <element name="seg">
          <attribute name="function">
            <a:documentation xmlns="http://www.w3.org/1999/xhtml">
              <p>
                Définitions <a href="http://www.cei.lmu.de/VID/VID.php#7">des éléments du discours diplomatique, Vocabulaire international de Diplomatique</a> (G. Vogeler), pour chaque valeur de @function :<br/>
                <ul>
                  <li><i>invocation</i>, <a href="http://www.cei.lmu.de/VID/VID.php?185" target="blank">No. 185</a></li>
                  <li><i>intitulatio</i>, <a href="http://www.cei.lmu.de/VID/VID.php?187" target="blank">No. 187</a></li>
                  <li><i>address</i>, <a href="http://www.cei.lmu.de/VID/VID.php?192" target="blank">No. 192</a></li>
                  <li><i>salutatio</i>, <a href="http://www.cei.lmu.de/VID/VID.php?194" target="blank">No. 194</a></li>
                  <li><i>notification</i>, <a href="http://www.cei.lmu.de/VID/VID.php?notification" target="blank">No. 196b</a></li>
                  <li><i>preamble</i>, <a href="http://www.cei.lmu.de/VID/VID.php?196" target="blank">No. 196</a></li>
                  <li><i>corroboration</i>, <a href="http://www.cei.lmu.de/VID/VID.php?246" target="blank">No. 246</a></li>
                  <li><i>witnessList</i>, <a href="http://www.cei.lmu.de/VID/VID.php?263" target="blank">No. 263</a></li>
                  <li><i>dating</i>, <a href="http://www.cei.lmu.de/VID/VID.php?561" target="blank">No. 561</a></li>
                  <li><i>apprecatio</i>, <a href="http://www.cei.lmu.de/VID/VID.php?251" target="blank">No. 251</a></li>
                  <li><i>subscriptions</i>, <a href="http://www.cei.lmu.de/VID/VID.php?254" target="blank">No. 254</a></li>
                  <li><i>esn</i>, <a href="http://www.cei.lmu.de/VID/VID.php?345" target="blank">No. 180</a></li>
                </ul>
              </p>
            </a:documentation>
            <choice>
              <value h:title="invocation, invocation verbale">invocation</value>
              <value h:title="suscription">intitulatio</value>
              <value h:title="adresse">address</value>
              <value h:title="salut, salutation">salutatio</value>
              <value h:title="notification personnelle, notification universelle, notification">notification</value>
              <value h:title="préambule">preamble</value>
              <value h:title="exposé">narratio</value> <!-- on rappelle cette valeur plus bas pr le schema du vidime, on conserve ici ? IDEM AVEC LE DISPOSITIF -->
              <value h:title="clause de corroboration -- peut aussi se trouver dans le dispositif">corroboration</value>
              <value h:title="liste de témoins">witnessList</value>
              <value h:title="formule de date, date">dating</value>
              <value h:title="apprécation">apprecatio</value>
              <value h:title="souscriptions">subscriptions</value>
              <value h:title="mentions hors teneur, mentions de chancellerie">esn</value>
            </choice>
          </attribute>
          <ref name="diplo.content"/>
        </element>
        <element name="seg">
          <a:documentation xmlns="http://www.w3.org/1999/xhtml">
            <p>Le dispositif (dispositio) et ses sous-parties.</p>
          </a:documentation>
          <attribute name="function">
            <a:documentation xmlns="http://www.w3.org/1999/xhtml">
              <p>
                Définitions <a href="http://www.cei.lmu.de/VID/VID.php#7">des éléments du discours diplomatique, Vocabulaire international de Diplomatique</a> (G. Vogeler), pour chaque valeur de @function :<br/>
                <ul>
                  <li><i>dispositio</i>, <a href="http://www.cei.lmu.de/VID/VID.php?198" target="blank">No. 198</a></li>                  
                </ul>
              </p>
            </a:documentation>
            <value h:title="dispositif">dispositio</value>
          </attribute>
          <oneOrMore>
            <choice>
              <element name="seg">
                <attribute name="function">
                  <a:documentation xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                      Définitions <a href="http://www.cei.lmu.de/VID/VID.php#7">des éléments du discours diplomatique, Vocabulaire international de Diplomatique</a> (G. Vogeler), pour chaque valeur de @function :<br/>
                      <ul>
                        <li><i>beneficiary</i>, <a href="http://www.cei.lmu.de/VID/VID.php?17" target="blank">No. 17</a></li>
                        <li><i>verb</i>, pas de terme identifié dans le VID, mentionné pourtant dans la documentation du terme <a href="http://www.cei.lmu.de/VID/VID.php?198" target="blank">No. 198</a> (dispositif).</li>
                        <li><i>donatio</i>, le terme donation existe en tant que type d'acte (<a href="http://www.cei.lmu.de/VID/VID.php?425" target="blank">No. 425</a>) mais pas en tant que partie du discours.</li>
                        <li><i>clauses</i>, <a href="http://www.cei.lmu.de/VID/VID.php?205" target="blank">No. 205</a></li>
                      </ul>
                    </p>
                  </a:documentation>
                  <choice>
                    <value h:title="bénéficiaire">beneficiary</value>
                    <value h:title="verbe">verb</value>
                    <!-- La corroboratio n'est pas inscrite nécessairement dans le dispositif (cf plus haut) -->
                    <value h:title="corroboration">corroboration</value>
                    <value h:title="donation?">donatio</value>
                    <value h:title="clause">clauses</value>
                  </choice>
                </attribute>
                <ref name="diplo.content"/>
              </element>
              <ref name="diplo.content"/>
            </choice>
          </oneOrMore>
        </element>
        <!-- acte vidimé, toujours inscrit dans la narratio -->
        <element name="seg">
          <a:documentation xmlns="http://www.w3.org/1999/xhtml">
            <p>
              L'exposé (narratio) peut contenir un acte vidimé.<br/>
              Définitions <a href="http://www.cei.lmu.de/VID/VID.php#7">des éléments du discours diplomatique, Vocabulaire international de Diplomatique</a> (G. Vogeler), pour chaque valeur de @function :<br/>
              <ul>
                <li><i>narratio</i>, <a href="http://www.cei.lmu.de/VID/VID.php?197" target="blank">No. 197</a></li>
              </ul>
            </p>
          </a:documentation>
          <attribute name="function">
            <value h:title="exposé">narratio</value>
          </attribute>
          <oneOrMore>
            <choice>
              <text/>
              <ref name="diplo.content"/>
              <!-- appel récursif au pattern diplomatique -->
              <optional>
                <ref name="vidime"/>
              </optional>
            </choice>
          </oneOrMore>
        </element>  
      </choice>
    </oneOrMore>
  </define>
  <!-- l'acte vidimé peut apparaître dans la narratio, éventuellement dans le dispositif (à voir) -->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="vidime">
    <element name="quote">
      <attribute name="type">
        <value h:title="acte vidimé">vidime</value>
      </attribute>
      <optional>
        <ref name="lang"/>        
      </optional>
      <ref name="diplomatique"/>
    </element>    
  </define>
  <!-- le contenu des seg des parties du discours ; importe les motifs définis dans texte.rng
    @combine permet de compléter ce pattern localement, dans le schéma d'un corpus spécifique.
  -->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="diplo.content" combine="interleave">
    <oneOrMore>
      <choice>
        <text/>
        <ref name="typo"/>
        <ref name="note"/>
        <ref name="lb"/>
        <ref name="pb"/>
        <ref name="foreign"/>
      </choice>
    </oneOrMore>
  </define>


  <a:documentation>
    <h2>Indexation des actes</h2>
  </a:documentation>  
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="front.index">
    <a:documentation xmlns="http://www.w3.org/1999/xhtml">
      <p>
        Le motif nommé front.index définit la structure d'indexation par défaut.<br/>
        Dans le schéma de corpus (corpus.rng), il faut l'appeler dans la définition du front.<br/>
        On peut le surcharger dans corpus.rng pour contraindre ou non l'inscription d'éléments d'indexation spécifiques.
      </p>
    </a:documentation>
    <element name="index">
      <oneOrMore>
        <ref name="auth_type"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="actual_country"/>
      </zeroOrMore>
    </element>    
  </define>
  
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="auth_type">
    <a:documentation xmlns="http://www.w3.org/1999/xhtml">
      <h2>Indexation du type d'acte</h2>
    </a:documentation>
    <element name="term">
      <attribute name="type">
        <value h:title="Type d'auteur">auth_type</value>
      </attribute>
      <a:documentation xmlns="http://www.w3.org/1999/xhtml">
        <p>
          Indexation du type d'auteur, obligatoire, valeurs multiples possible. (cf OGJ : "l'accord passé au sujet d'un hommage entre l'abbé de Moissac et le comte de Toulouse est ainsi indexé à acte abbatial, acte princier, car les deux intervenants prennent la parole.")<br/>
          NB: Dans les tableaux d'OGJ 2a (type d'auteurs) et 2b (type de documents) sont une même catégorie ; le 2b décrivant les documents qui ne sont pas des actes, on se limite pour l'instant qu'au 2a.
        </p>
      </a:documentation>
      <attribute name="key">
        <choice>
          <value h:title="Actes pontificaux">act_pontif</value>
          <value h:title="Actes épiscopaux">act_episc</value>
          <value h:title="Actes abbatiaux">act_abbat</value>
          <value h:title="Actes d'autres ecclésiastique">act_eccl</value>
          <value h:title="Actes d'autre juridiction gracieuse ecclésiastique">act_eccl_grac</value>
          <value h:title="Actes de souverains">act_souv</value>
          <value h:title="Actes princiers">act_princ</value>
          <value h:title="Actes de juridiction gracieuse laïque princière et royale">act_laic_grac</value>
          <value h:title="Actes de l'administration locale (royale et princière)">act_admin</value>
          <value h:title="Actes seigneuriaux">act_seig</value>
          <value h:title="Actes communaux, consulaires et échevinaux [sauf juridiction gracieuse]">act_comm</value>
          <value h:title="Actes d'échevinage et de consulat [juridiction gracieuse?]">act_ech_grac</value>
          <value h:title="Chartes du haut Moyen Âge">chma</value>
          <value h:title="Notices">not</value>
          <value h:title="Actes sous le sceau de l'auteur">sc_aut</value>
          <value h:title="Actes sous le sceau d'une autorité locale">sc_loc</value>
          <value h:title="Actes de notaires publics">act_notr</value>
          <value h:title="Actes d'officialité épiscopale">act_offepisc</value>
          <!-- si aucune des valeurs proposées ne convient. Doit disparaître -->
          <value h:title="Valeur libre si aucune des valeurs enregistrées ne convient"/>
        </choice>
      </attribute>
      <optional>
        <text/>
      </optional>
    </element>
  </define>    
  
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="actual_country">
    <element name="term">
      <attribute name="type">
        <value h:title="Pays actuel">actual_country</value>
      </attribute>
      <a:documentation xmlns="http://www.w3.org/1999/xhtml">
        Indexation du pays concerné par l'action et non le ressort de l'auteur de l'acte, valeur répétable ; on inscrit le nom contemporain et non historique.<br/>
        Élément répétable pour les valeurs multiples.<br/>
        La source des codes utilisée pour représenter les noms de pays est la norme <a href="http://fr.wikipedia.org/wiki/ISO_3166-1">ISO 3166</a>.
      </a:documentation>
      <attribute name="key">
        <choice>
          <value h:title="Belgique">BE</value>
          <value h:title="Suisse">CH</value>
          <value h:title="République Tchèque">CZ</value>
          <value h:title="Allemagne">DE</value>
          <value h:title="Danemark">DK</value>
          <value h:title="Espagne">ES</value>
          <value h:title="France">FR</value>
          <value h:title="Grande Bretagne">GB</value>
          <value h:title="Croatie">HR</value>
          <value h:title="Hongrie">HU</value>
          <value h:title="Irlande">IE</value>
          <value h:title="Italie">IT</value>
          <value h:title="Pays-Bas">NL</value>
          <value h:title="Portugal">PT</value>
          <value h:title="Roumanie">RO</value>
          <value h:title="Suède">SE</value>
          <value h:title="Vatican">VA</value>
        </choice>
      </attribute>
      <text/>
    </element>
    
  </define>
    
  
  <!-- définition d'un acte, à surcharger dans le schéma appelant -->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="acte">
    <notAllowed/>
  </define>


  <h2 id="texte.rng"><a href="http://developpements.enc.sorbonne.fr/diple/schema/texte">Balisage général du texte</a></h2>
  <h2 id="teiHeader.rng"><a href="http://developpements.enc.sorbonne.fr/diple/schema/teiHeader">Schéma de l'entête de métadonnées</a></h2>
  <h2 id="witness.rng"><a href="http://developpements.enc.sorbonne.fr/diple/schema/witness">Tradition écrite de l'acte (témoins)</a></h2>
  <h2 id="date.rng"><a href="http://developpements.enc.sorbonne.fr/diple/schema/date">Schéma d'encodage des dates</a></h2>
  

</rng:grammar>
